/* .navbar {
  
} */

.navbar .search-bar-container {
  width: 400px;
}
.navbar-icons {
  display: flex;
  column-gap: 20px;
}
.navbar-icons {
  font-size: 22px;
  cursor: pointer;
}
.navbar i:hover {
  font-weight: bold;
}
.mention-story-user {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid grey;
}
.mention-story-user img {
  height: 100%;
  width: 100%;

  border-radius: 50%;
  object-fit: contain;
}
.notification-user {
  height: 25%;
  width: 25%;
  border-radius: 50px;
  border: 1px solid grey;
}
.notification-user img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.main-ctn {
  position: relative;
  top: 60px;
  /* overflow-y: scroll; */
}
.overall-ctn {
  border-radius: 20px;
}
.stories-ctn {
  display: flex;
  /* flex-direction: row; */
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(90, 90, 90);
  box-shadow: 5px 5px 5px rgb(45, 45, 45);
  background-color: whitesmoke;
  /* height: 100px; */
  overflow-x: scroll;
}

.stories-ctn::-webkit-scrollbar {
  display: none;
}

.story-user-ctn {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  border: 1px solid grey;
  overflow: hidden;
}
.story-user-ctn img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.see-all-btn button {
  border: none;
}
.see-all-btn:focus {
  outline: none;
}

.notification-section-3 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.search-bar-container {
  border-radius: 20px;
}
.search-bar-container input {
  border-top-right-radius: 20px;
  border-end-end-radius: 20px;
  padding-left: 10px;
  border: none;
}
.search-messages-input:focus {
  border: none;
  outline: none;
}
.fa-magnifying-glass {
  cursor: pointer;
}

.post-ctn {
  border: 1px solid rgb(50, 50, 50);
  border-radius: 20px;
}

.username-picture-ctn img {
  /* height: 45px;
  width: 45px; */
  width: 3rem;
  border-radius: 50%;
}
/* .username-picture-ctn img {
 
} */
.posts-icons i {
  font-size: 24px;
}
.main-user-post-ctn {
  border: 1px solid black;
  border-radius: 20px;
  row-gap: 20px;
  background-color: whitesmoke;
}
.user-post-ctn {
  height: 440px;
  /* width: 500px; */
  margin:auto;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid rgb(229, 229, 229);
  margin: 10px;
  background-color: whitesmoke;
}
.user-post-ctn img {
  height: 100%;
  width: 100%;
}
.posts-icons-reactions {
  display: flex;
  column-gap: 15px;
}
.posts-icons-reactions i {
  cursor: pointer;
}
.posts-icons-reactions i:hover {
  font-weight: bold;
}
.notification-ctn {
  border-radius: 20px;
  border: 1px solid rgb(84, 84, 84);
  background-color: whitesmoke;
  height: fit-content;
}

.message-ctn {
  border-radius: 20px;
  border: 1px solid rgb(84, 84, 84);
  background-color: whitesmoke;
  height: fit-content;
}

/* Message Users */
.message-users-ctn {
  border-radius: 20px;
  /* border: 1px solid grey; */
  height: 500px;
  overflow-y: scroll;
}
.message-users-ctn::-webkit-scrollbar {
  display: none;
}
.message-users {
  justify-content: left;
  column-gap: 15px;
  padding: 6px;
  align-items: center;
  margin: 2px 8px;
  border-radius: 20px;
  border: 1px solid grey;
}
.message-users-profile {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
}
.message-users-profile img {
  height: 100%;
  width: 100%;
}
.active-min-ago {
  font-size: 12px;
  color: grey;
}

.message-username h5 {
  font-size: 18px;
  margin: auto;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: white;
  background-color: #f0f0f0;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.notification-ctn {
  background-color: #31363f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.message-ctn {
  background-color: #31363f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-user-post-ctn {
  background-color: #31363f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.stories-ctn {
  background-color: #31363f;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
